/* header */ 
.searchBar {
    padding: 0.5rem;
    background-color: var(--item-color);
    border: 1px solid var(--border-color);
    border-radius: 2rem;
}

/* pokemon list */
.pokemonList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 2rem 0;
}

.pokemonList li {
    background: var(--item-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0.5rem;
    padding: 1rem;
    text-align: center;
    transition: transform 0.2s;
    width: 150px;
    cursor: pointer;
}

.pokemonList li:hover {
    transform: scale(1.05);
    border-color: var(--primary-color);
}

.pokemonList img {
    width: 100px;
    height: 100px;
    margin-bottom: 0.5rem;
}

p {
    text-align: center;
}

.toggleBtn {
    background-color: var(--item-color);

    display: inline-block;
    padding:5px 7px;

    border: 1px solid var(--border-color);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    text-decoration: none;
    text-align: center;
    font-size: 16px;
    color: var(--font-color);

    transition: transform 0.2s;
    cursor: pointer;
}

.toggleBtn:hover {
    transform: scale(1.05);
    border-color: var(--primary-color);
}

/* filter bar */
.filter-bar {
    margin-left: 2rem;
}

.filter-bar label {
    margin-right: 10px;
    font-weight: bold;
}

.filter-bar select {
    padding: 5px;
    font-size: 16px;

    background-color: var(--item-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;

    text-align: center;
}

.filter-bar select:hover {
    border-color: var(--primary-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}